*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

h1, p {
  margin: 0 0 1em 0;
}

.wrapper {
  grid-gap: 10px;
  display: grid;
  max-width: 940px;
  margin: 0 auto;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;

  }

  .header, .footer {
    grid-column: 1 / -1;
  }
}




